APP_ENV=local
GIN_MODE=debug
PORT=8080
LOG_FORMAT=text

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=reading_garden
DB_USER=reading_garden
DB_PASSWORD=reading_garden
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=3m
MYSQL_ROOT_PASSWORD=root
HS256_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_EXP_DELTA=24h
JWT_REFRESH_EXP_DELTA=10080h
EMAIL_ACCOUNT=
EMAIL_PASSWORD=

SWAGGER_ENABLED=true
SWAGGER_HOST=localhost:8080
SWAGGER_BASE_PATH=/api/v1
